$color_1: #fff;
$color_3: #222222;
$color_4: #1eacc7;
$color_5: #202020;
$color_6: #000;
$color_7: #1ca8c3;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #212121;
$background-color_2: rgba(0, 0, 0, 0.6);
$background-color_3: #000000;
$background-color_4: #1eacc7;
$background-color_5: #070716;
$background-color_6: #ff5656;
